/public/*
/public/storage
!/public/vendor
/public/hot
!/storage/app/analytics
!/public/clear1.png
/storage/*.key
/storage/laravel-backups
/vendor
node_modules/
/.idea
Homestead.json
Homestead.yaml
app/Http/Infusion/vendor
.env
composer.lock
package.lock
composer.phar
storage/exports/
