/public/*
/public/storage
!/public/vendor
/public/hot
!/public/clear1.png
/storage/*.key
/storage/laravel-backups
/vendor
node_modules/
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
package.lock
composer.phar
storage/exports/
